body {
  background-color: lightgreen;
}

.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#gameContainer {
  background-color: #ccffcc;
  border: solid darkred 2px;
  width: 90%;
  margin: 0 auto;
}

#clicker {
  border: solid black 3px;
  background-color: #ffffcc;
  text-align: center;
  width: 10%;
  margin: 0 auto;
  margin-top: 1.5%;
  padding: 2%;
}

#clickerbutton {
  font-size: xx-large;
}

#shop {
  text-align: left;
}

#shopEntry {
  background-color: #ffffcc;
  border: solid darkred 3px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 2%;
  text-align: left;
  width: 60%;
}

#buyButton {
  color: black;
  background-color: gold;
}

#priceSlot {
  font-size: xx-large;
  text-align: left;
  border: solid black 3px;
  width: 20%;
  margin: 5px;
}

#upgradeCounter {
  border: solid black 3px;
  width: 250px;
  height: 100px;
  position: fixed right;
  float: right;
  size: x-large;
}
