.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#gameContainer {
  border: solid black 3px;
  width: 90%;
  margin: 0 auto;
}

#clicker {
  border: solid black 3px;
  text-align: center;
  width: 10%;
  margin: 0 auto;
  margin-top: 1.5%;
  padding: 2%;
}

#shop {
  text-align: left;
}

#shopEntry {
  padding: 2%;
  text-align: left;
  width: 60%;
}
